* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Helvetica', 'Helvetica Neue', Helvetica, Arial, sans;
  }

.navbar {
  width: 100%;
  /* border: solid white 2px; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  /* background-color: white; */
}


/* ultra small */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-logo {
    width: 100%;
    height: 100%;
    padding: 0px 1.2rem;
  }
  .nav-brand {
    width: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-logo {
    width: 100%;
    height: 100%;
    /* padding: 10vh; */
  }
  .nav-brand {
    width: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-brand {
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav-brand {
    width: 15%;
  }
}
